<div id="klipper_editor" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="klipper_editor_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-bind="click: closeEditor">&times;</button>
    <h3 id="klipper_dialog_label">Editor
      <div class="pull-right">
        <button data-bind="click: minusFontsize" title="{{ _('Decrease Fontsize') }}" class="btn">
          <i class="fas fa-search-minus"></i>
        </button>
        <button data-bind="click: plusFontsize" title="{{ _('Increase Fontsize') }}" class="btn">
          <i class="fas fa-search-plus"></i>
        </button>
      </div>
    </h3>
  </div>
  <div class="modal-body">
    <script src="plugin/klipper/static/js/lib/ace/ace.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="plugin/klipper/static/js/lib/ace/theme-monokai.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="plugin/klipper/static/js/lib/ace/mode-klipper_config.js" type="text/javascript"></script>
    <div class="full-sized-box">
      <div class="conf-editor" id="conf_editor">
        <input id="hdnLoadKlipperConfig" type="hidden" data-bind="value: CfgContent">
        <div id="plugin-klipper-config"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="editor-controls">
      <span class="control-label">{{ _('Filename') }}:</span>
      <input type="text" data-bind="value: CfgFilename">
      <div class="klipper-btn-group klipper-fluid-item-2">
        <button class="btn btn-small" data-bind="click: reloadFromFile" title="{{ _('Reload from file') }}">
          <i class="fas fa-upload"></i> {{ _('Reload from file') }}
        </button>
        <button class="btn btn-small" data-bind="click: checkSyntax" title="{{ _('Check Syntax') }}">
          <i class="fas fa-spell-check"></i> {{ _('Check Syntax') }}
        </button>
        <button class="btn btn-small" data-bind="click: function() { $root.saveCfg({closing: true}) }" title="{{ _('Save Config and Close') }}">
          <i class="fas fa-save"></i> {{ _('Save & Close') }}
        </button>
        <button class="btn btn-small" data-bind="click: saveCfg" title="{{ _('Save Config') }}">
          <i class="fas fa-save"></i> {{ _('Save') }}
        </button>
      </div>
    </div>
  </div>
</div>
