<!-- ko if: settings.settings.plugins.klipper.configuration.shortStatus_navbar -->
  <a data-bind="attr: { title: shortStatus_navbar_hover }, text: shortStatus_navbar, click: navbarClicked"></a>
<!-- /ko -->
