.plugin-klipper-log {
   padding: 3px;
   overflow-y: scroll;
   height: 400px;
   border: 1px solid #eee;
   width: 100%;
}

.plugin-klipper-log .log-item {
   margin: 3px auto 0 auto;
   border: 1px solid #ddd;
   border-radius: 3px;
   background-color: #eeeeef;
   color: #333;
}

.plugin-klipper-log .error {
   background-color: #eebabb;
}

.plugin-klipper-log .log-item .ts {
   display: inline-block;
   width:  13%;
   height: 100%;
   vertical-align: top;
   font-size: 0.8em;
   padding: 0 0 0 5px;
}

.plugin-klipper-log .log-item .msg {
   display: inline-block;
   width: 84%;
   height: 100%;
}

.clear-btn {
   margin-top: 6px;
   margin-bottom: 6px;
}

#level .controls {
   padding: 1px;
}

ul#klipper-settings {
   margin: 0;
}

#klipper-settings a{
   margin: 5px;
}

#plugin-klipper-config {
   height: 100%;
   font-family: monospace;
}

#tab_plugin_klipper_main .row-fluid {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

#tab_plugin_klipper_main .span8 {
   flex-grow: 8;
   float: left;
   box-sizing: border-box;
}

#tab_plugin_klipper_main .span8 label {
   float: left;
}

#tab_plugin_klipper_main .span4 {
   flex-grow: 0;
   flex-shrink: 1;
   /* max-width: 13%; */
   float: left;
   box-sizing: border-box;
}

#settings_plugin_klipper {
   height: 100%;
}

#settings_plugin_klipper form {
   margin: 0px;
   height: 100%;
}

#settings_plugin_klipper form .tab-content {
   height: calc(100% - 40px);
   overflow: auto;
}

#settings_plugin_klipper form .tab-content .tab-pane {
   height: calc(100% - 35px);
}

div#settings_plugin_klipper.tab-pane.active form.form-horizontal div.tab-content div#conf.tab-pane.active div.control-group {
   margin-bottom: 0px;
   height: 100%;
}

div#settings_plugin_klipper.tab-pane.active form.form-horizontal div.tab-content div#conf.tab-pane.active div.control-group div.conf-editor {
   height: 100%;
   width: 100%;
}

div#settings_plugin_klipper.tab-pane.active form.form-horizontal div.tab-content div#conf.tab-pane.active div.control-group div.conf-editor div#plugin-klipper-config {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

div#settings_plugin_klipper.tab-pane.active form.form-horizontal div.tab-content div#conf.tab-pane.active div.control-group button.btn.btn-small {
   width: 30%;
   display: inline-block;
   margin: 0px 2px 2px 2px;
}

div#settings_plugin_klipper.tab-pane.active form.form-horizontal div.tab-content div#conf.tab-pane.active div.control-group label.inline input.inline-checkbox {
   vertical-align:-0.2em;
}

div#settings_plugin_klipper.tab-pane.active form.form-horizontal div.tab-content div#conf.tab-pane.active div.control-group label.inline {
   display:inline;
}

#macros #item.control-group {
   margin-bottom: 2px;
   border: 2px solid #ccc;
   border-radius: 3px;
   background-color: #eeeeee;
   color: #333;
   padding-bottom: 2px;
   padding-top: 2px;
}

#klipper_graph_dialog {
   width: 1050px;
}

#klipper_graph_dialog .full-sized-box{
   width: 1000px;
   margin: 0 auto;
}

#klipper_graph_dialog form {
   margin: 0;
}

#klipper_graph_dialog select {
   width: auto;
}

#klipper_graph_dialog .graph-footer {
   bottom:0;
}

#klipper_graph_dialog input {
   display: inline-block;
}

#klipper_graph_dialog .status-label {
   display: block;
   position: absolute;
   margin: 5px 0 0 10px;
}

#klipper_graph_dialog .fill-checkbox {
   display: block;
   position: absolute;
   top: 0%;
   left: 50%;
}

#klipper_graph_dialog .help-inline {
   display: block;
   position: absolute;
   top: 0px;
}

#klipper_graph_canvas {
   margin-top: 15px;
}
